<!DOCTYPE html>
<html>
<head>
    <title>Login page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/client-api/static/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Marcellus" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Maitree" rel="stylesheet"/>
</head>
<body class="bodylogin">
<section class="login">
    <div class="title-login">Notes Api</div>
    <form action="/client-api/login" method="post">
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input class="button" type="submit" value="Log in">
    </form>
</section>
</body>
</html>
