<!DOCTYPE html>
<html>
<head>
    <title>Notes by tag</title>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Marcellus" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/client-api/static/style.css"/>
</head>
<body>

<div id="header">
    <h1 class="hello">Notes Api</h1>
</div>

<div id="notes">
    <section id="left-column">
        <ul class="ulmenu">
            <li><a href="/client-api/home">Home</a></li>
            <li><a href="/client-api/notes/new">New note</a></li>
            <li><a href="/client-api/notes">Notes</a></li>
            <li><a href="/client-api/logout">Logout</a></li>
        </ul>
    </section>

    <section id="right-column">
        <h3 class="marcellus_text"> Notes: </h3>
        {% for i in res['notes'] %}
            <div class="note">
                <div class="note-text">
                <h2 class="marcellus_text"><a href="/client-api/notes/{{i['note_id']}}">{{i['title']}}</a></h2>
                <h4 class="category"><a href="/client-api/categories/{{i['category']}}"> {{i['category']}}</a></h4>
                {% if i['content'][300] %}
                    <p>{{i['content'][0:300]}}...</p>
                {% else %}
                    <p>{{i['content']}}</p>
                {% endif %}
                <h5 class="tags">{% for j in i['tag'][1:-1].split(', ') %} <a href="/client-api/tags/{{j[1:-1]}}">#{{j[1:-1]}}</a> {% endfor %}</h5>
                </div>
            </div>

        {% endfor %}
    </section>
</div>

</body>
</html>
